@import "tailwindcss";
@import "@heroui/styles";

/*
 * HeroUI Theme Customization
 * Add this to your global.css after importing @heroui/styles
 * Only includes base variables from variables.css
 * @see https://v3.heroui.com/docs/react/getting-started/theming
 */

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(76.89% 0.1688 161.95);
  --accent-foreground: oklch(15% 0.03 161.95);
  --background: oklch(97.02% 0 161.95);
  --border: oklch(90% 0 161.95);
  --danger: oklch(65.32% 0.2328 14.71);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94% 0 161.95);
  --default-foreground: oklch(21.03% 0.0059 161.95);
  --field-background: oklch(100% 0 161.95);
  --field-foreground: oklch(21.03% 0.0059 161.95);
  --field-placeholder: oklch(55.17% 0 161.95);
  --focus: oklch(76.89% 0.1688 161.95);
  --foreground: oklch(21.03% 0.0059 161.95);
  --muted: oklch(55.17% 0 161.95);
  --overlay: oklch(100% 0 161.95);
  --overlay-foreground: oklch(21.03% 0.0059 161.95);
  --scrollbar: oklch(87.1% 0 161.95);
  --segment: oklch(100% 0 161.95);
  --segment-foreground: oklch(21.03% 0.0059 161.95);
  --separator: oklch(92% 0 161.95);
  --success: oklch(73.29% 0.1935 139.78);
  --success-foreground: oklch(21.03% 0.0059 139.78);
  --surface: oklch(100% 0 161.95);
  --surface-foreground: oklch(21.03% 0.0059 161.95);
  --warning: oklch(78.19% 0.1585 61.3);
  --warning-foreground: oklch(21.03% 0.0059 61.3);

  /* Border Radius */
  --radius: 0.25rem;
  --field-radius: 0.75rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(76.89% 0.1688 161.95);
  --accent-foreground: oklch(11.49% 0 0);
  --background: oklch(12% 0 161.95);
  --border: oklch(28% 0 161.95);
  --danger: oklch(59.4% 0.1967 13.6);
  --danger-foreground: oklch(99.11% 0 0);
  /* --default: oklch(27.4% 0 161.95); */
  --default: oklch(0.2161 0.0061 56.04);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0 161.95);
  --field-foreground: oklch(99.11% 0 0);
  --field-placeholder: oklch(70.5% 0 161.95);
  --focus: oklch(76.89% 0.1688 161.95);
  --foreground: oklch(99.11% 0 0);
  --muted: oklch(70.5% 0 161.95);
  --overlay: oklch(21.03% 0 161.95);
  --overlay-foreground: oklch(99.11% 0 0);
  --scrollbar: oklch(70.5% 0 161.95);
  --segment: oklch(39.64% 0 161.95);
  --segment-foreground: oklch(99.11% 0 0);
  --separator: oklch(25% 0 161.95);
  --success: oklch(73.29% 0.1935 139.78);
  --success-foreground: oklch(21.03% 0.0059 139.78);
  --surface: rgba(18, 18, 17, 1);
  --surface-foreground: oklch(99.11% 0 0);
  --warning: oklch(82.03% 0.1388 65.31);
  --warning-foreground: oklch(21.03% 0.0059 65.31);
}

[data-theme="high-contrast"] {
  color-scheme: dark;

  --background: #000000;
  --foreground: #ffffff;
  --border: #ffffff;
  --accent: #ffffff;
  --accent-foreground: #000000;
  --field-background: #000000;
  --field-foreground: #ffffff;
  --field-placeholder: #ffffff;
  --surface: #000000;
  --surface-foreground: #ffffff;
  --overlay: #000000;
  --overlay-foreground: #ffffff;
  --danger: #ffff00;
  --danger-foreground: #000000;
  --success: #00ff00;
  --success-foreground: #000000;
  --warning: #00ffff;
  --warning-foreground: #000000;
  --muted: #ffffff;
  --focus: #ffff00;
  --default: #000000;
  --default-foreground: #ffffff;
  --radius: 0px;
  --field-radius: 0px;
}

/* Sets the base background color for the page */
body {
  background-color: var(--background);
}
